<div class="container">
    <div class="side-bar">
        <h3>side</h3>

        <div class="user-profile">
            <div class="pic">
                
            </div>
            <div class="user-details">
                <p>User name</p>
            </div>
            <div class="actions">
                <button>edit</button>
                <button>Sign out</button>
            </div>
        </div>
        <div class="list">
            <ul>
                <li>Overview</li>
                <li>Users</li>
            </ul>
        </div>
    </div>
    <div class="main">

        <h3>main panel</h3>
    </div>
</div>
