<div class="container">
    <div class="side-bar">
        <h3>side</h3>

        <div class="user-profile">
            <div class="pic">
                
            </div>
            <div class="user-details">
                <p>User name</p>
            </div>
            <div class="actions">
                <button>edit</button>
                <button>Sign out</button>
            </div>
        </div>
        <div class="list">
            <ul>
                <li>Overview</li>
                <li>Users</li>
            </ul>
        </div>
    </div>
    <div class="main">

        <h3>main panel</h3>
        <div class="table-cont">
            <table class="ui table">
                <thead>
                  <tr><th>Name</th>
                  <th>Last name</th>
                  <th>Phone number</th>
                  <th>Email</th>
                  <th>active</th>
                  <th>Role</th>

                </tr></thead>
                <tbody >
                  <tr *ngFor="let item of userdata">
                    <td>{{ item.name }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.active }}</td>
                    <td>{{ item.role }}</td>
                  </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
